body {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgray;
}

*{
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}



header {
    border-style: hidden;
    border-color: white;
    background-color: white;
    height: 230px;
}

#logo {
    margin-left: 20%;
}

.boutonhaut {
    display: flex;
    margin-left: 70%;
}

.boutonhaut1 {
    margin-left: 15px;
    border-style: solid;
    background-color: blue;
    border-color: blue;
    padding: 10px;
    margin-top: 20px;
}
.boutonhaut1 a {
    color: white;
}
.boutonhaut .boutonhaut1:hover {
    background: purple;
    border-color: purple;
}

.boutonhaut .boutonhaut1 a:hover {
    text-decoration: underline;
    color: yellow;
}

.navbar {
    list-style: none;
    margin-left: 17%;
    margin-top: 20px;
}
.navbar .boutonnav {
    display: inline-block;
    position: relative;
}
.navbar .boutonnav a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align:center;
    font-size: 17px;
}

.navbar .boutonnav .dropdown .boutonnav {
    display: block;
}

.navbar .boutonnav .dropdown {
    width: 120%;
    background: blue;
    position: absolute;
    z-index: 999;
    display: none;
}

.navbar .boutonnav a:hover {
    background: purple;
}
.navbar .boutonnav:hover .dropdown {
    display: block;
}

.boutonnav {
    border-style:none;
    border-color: blue;
    background-color: blue;
}

.dropdown {
    margin: 0;
}



.section1 {
    display: flex
}




.nuage {
    margin-left: 40px;
    width: 270px;
    height: 300px;
    border-style: hidden;
    background-color: white;
    margin-top: 20px;
    padding: 10px;
}

.text_nuage {
    border-style: hidden;
    background-color: black;
    color: white;
    padding: 10px;
    width: 250px;
    text-align: center;
    font-size: 20px;
}

.image_nuage {
    margin-left: 20px;
    margin-top: 10px;
}

.image_slider {
    border-style: hidden;
    margin-left: 40px;
    margin-top: 20px;
    width: 270px;
    height: 270px;
    background-color: white;
    padding: 10px;
}

.lycee100ans {
    border-style: hidden;
    background-color: black;
    color: white;
    padding: 10px;
    width: 250px;
    font-size: 20px;
}

.container {
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.swiper-slide img {
    width: 100%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
    color: #fff;
}

.swiper .swiper-pagination-bullet-active {
    background: white;
}

.institut {
    border-style: hidden;
    background-color: white;
    margin-left: 17%;
    width: 43%;
    margin-top: 20px;
    height: 740px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.titre_institut {
    color: red;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
}

.text_institut {
    margin-top: 20px;
    font-size: large;
}

.image_institut {
    margin-left: 300px;
    margin-top: 20px;
    width: 250px;
}

footer{
    background-color: #300030;
    width: 100%;
    height: 180px;
    color: lightgray;
}

.footer_lafayette {
    text-align: center;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    margin-top: 30px;
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: white;
    border-bottom-style: outset;
    width: 500px;
    margin-left: 36%;
}

.ligne_haut {
    display: flex;
    margin-left: 36%;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    font-style: italic;
}

#fontaineroux {
    margin-left: 170px;
}

.ligne_bas {
    display: flex;
    margin-left: 36%;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    font-style: italic;
}

#hericy {
    margin-left: 50px;
}